<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Cute and Cuddly Creatures</title>
	<link rel="stylesheet" href="index.css">
	<script src="index.lib.js" type="text/javascript"></script>
	<script src="index.js" type="text/javascript"></script>
</head>

<body class="text-center">
	<h1 class="title">
		Pandas or Penguins?
	</h1>
	<form action="/votes_form" method="POST">
		<input type="text" placeholder="Who art thou?" name="name">
		<input type="text" placeholder="A cuddly animal (eg. panda)?" name="animal">
		<div class="btn submit">Vote</div>
		<input type="submit" value="" class="noDisplay" />
	</form>

	<h2>Current Votes</h2>
	<div class="votes">
		<div class="vote-header">
			<span>Name</span> |
			<span>Cuddly Animal</span>
		</div>
		<% for(var i=0; i<votes.length; i++) {%>
		<div class="vote" id="voteID_<%= votes[i]._id %>">
		  <span><%= votes[i].name %></span> |
		  <span><%= votes[i].animal %></span>
		  <div class="btn panda-invasion-btn disableSelect">Panda invasion</div>
	  	</div>
		<% } %>
	</div>
</body>
</html>
