@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:"Museo300";
	src:url(fonts/Museo300.otf);
}
@font-face{
	font-family:"Museo500";
	src:url(fonts/Museo500.otf);
}
@font-face{
	font-family:"Museo700";
	src:url(fonts/Museo700.otf);
}
@font-face{
	font-family:"Museo900";
	src:url(fonts/Museo900.otf);
}

@font-face{
	font-family:"Sansation";
	src:url(fonts/SansationLight.ttf);
}

/*-------GLOBALS--------*/
html{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-family:"Museo300","Calibri","Arial",Sans-Serif;
	color:#EEE;
	background:#066;
	overflow-x:hidden;
}

*, input[type="button"],input[type="submit"],input[type="reset"]{
	font-family:"Museo300","Calibri","Arial",Sans-Serif;
}

body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

h1,h2,h3,h4,h5,h6{
	font-family:"Museo500","Calibri","Arial",Sans-Serif;
}

.light{
    font-family:"Museo300","Calibri","Arial",Sans-Serif;
}

.border-underline{
    padding-bottom: 0px;
    border-bottom:1px solid #EEE;
}

.soft-border-underline{
    padding-bottom:0px;
    border-bottom:1px dotted #EEE;
}

.underline{
    text-decoration:underline;
}

.soft-underline{
    text-decoration:underline;
    text-decoration-style: dashed;
}

.less-margin{
    margin-top:5px;
    margin-bottom:5px;
}

.less-margin-top{
    margin-top:5px;
}

.less-margin-bottom{
    margin-bottom:5px;
}

.text-center{
    text-align:center;
}

.hidden:not(.scrollArea){
    display:none;
}

img{
    border:0px;
	outline:none;
}

a{
    transition:all 0.3s ease;
    color:#FF8F19;
    text-decoration:none;
    font-size:110%;
}

a:hover{
    color:#FFD269;
}


.bold-500{
    font-family:"Museo500","Calibri","Arial",Sans-Serif;
}

b, strong, .bold, .bold-700{
    font-family:"Museo700","Calibri","Arial",Sans-Serif;
}

.font-tiny{
    font-size: 60%;
}

.font-small{
    font-size: 80%;
}

.font-normal, .font-regular{
    font-size: 100%;
}

.font-big, .font-large{
    font-size: 120%;
}

.font-bigger, .font-larger{
    font-size: 150%;
}

.font-huge{
    font-size: 200%;
}

label{
    cursor:pointer;
}

h1.title{
    font-size: 300%;

    padding-bottom:10px;
    padding-left:20px;
    padding-top:25px;
    padding-right:50px;

    background:#EEE;
    color:#066;

    box-shadow: 0px 5px 20px 2px rgba(50,50,50,0.8);
    /*
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    */
}

.subtitle{
    margin-top:-32px;
    margin-left:15px;

    padding-bottom:10px;
    padding-left:20px;
    padding-top:10px;
    padding-right:50px;

    background:rgba(141,211,107,0.8);
    color:#066;

    box-shadow: inset 0px 8px 50px -20px rgb(0,0,0);

    /*
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    */
}

p.subtitle{
    font-size:120%;
    font-weight: 900;
}

.hr-divider{
    height:0px;
    border-top:1px #CCC dotted;
    width:100%;
    clear:both;
    /*box-shadow:0px 0px 20px 1px #EEE;   */
}

.pad, .pad-both{
    margin-top:10px;
    margin-bottom:10px;
}

.pad-top{
    margin-top:10px;
}

.pad-bottom{
    margin-bottom:10px;
}

.pad-left{
    margin-left:10px;
}

.pad-right{
    margin-right:10px;
}

.pad-side-both{
    margin-left:10px;
    margin-right:10px;
}

.invertedColor, .circle{
	background:#EEE;
	color:#066;
}

.circle{
	border-radius:100%;
	position:fixed;
    box-sizing:content-box;
	text-align:center;
}

.center{
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
}

.noDisplay{
	display:none;
}
.inline{
	display:inline;
}
.inline-block{
	display:inline-block;
}

.link-button{
	overflow: hidden;
	background:rgb(141,211,107);
	color:rgba(0,30,30,0.8);

	text-align:center;
	margin-left:4%;
	padding-left:0;
	padding-right:0;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.link-button.pad{
    padding-left:30px;
    padding-right:30px;
}

.link-button:hover{
    background: #f58500;
    color:white;
}

.link-button:after{
	width: 40%;
	height: 400%;
	background: rgba(100,100,100,0.15);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.link-button:hover:after {
	width:50%;
	background: rgba(50,50,50,0.25);
}

.link-button:active {
	background: #f58500;
    color:white;
	top: 2px;
}

.btn{
    position: relative;
    background:#EEE;
    color:#066;
    cursor:pointer;
    padding: 0px 15px;
    height:50px;
    line-height: 50px;

    width:200px;
    flex: 1 190px;

    transition:all 0.3s ease;
}

.btn.submit{
	display: inline-block;
	padding: 0px 10px;
	width:100px;
	height: 35px;
	margin:10px;
	line-height: 35px;

	border:none;
}

.btn.alt, .btn.alternative, .alt-btn{
	background:rgb(174, 236, 208);
    color:#1A4646;
}

.btn:hover{
    color:black;
}

.btn:after{
	content:'';
	position: absolute;
	text-overflow: ellipsis;

    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width:0%;
    height:100%;

	background:rgba(84, 255, 0, 0.25);

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:hover:after{
    width:100%;
}

.btn:active{
	top:2px;
}

.disableSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enableSelect{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Website specific */
.vote{
	display:block;
	margin: 10px 0px;
}

.panda-invasion-btn, .delete-btn{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
}
